@model Loterias.Models.JogoLoteria

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@Model.Nome</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="checkbox">
        <input type="checkbox" class="checkbox" id="surpresinha" name="surpresinha" value="true" /><label for="surpresinha">Surpresinha</label>
    </div>
    <div class="form-group">
        <label class="col-md-12">Números</label>
        <div class="col-md-12">
            <table class="table table-responsive table-striped">
                <tbody>
                    @if (Model.QtdNumerosDisponiveis % 5 == 0)
                    {
                        for (var i = 0; i < Model.QtdNumerosDisponiveis / 10; i++)
                        {
                            <tr>
                                @for (var j = 1; j <= 10; j++)
                                {
                                    var k = (10 * i) + j;
                                    if (k == Model.QtdNumerosDisponiveis && Model.IncluirZero)
                                    {
                                        k = 0;
                                    }
                                    <td><label for="numero_@k" class="btn btn-group"><input class="form-control" type="checkbox" id="numero_@k" name="numeros" value="@k">@k</label></td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        for (var i = 0; i < Model.QtdNumerosDisponiveis / 10; i++)
                        {
                            <tr>
                                @for (var j = 1; j <= 10; j++)
                    {
                        var k = (10 * i) + j;
                                    <td><label for="numero_@k" class="btn btn-group"><input class="form-control" type="checkbox" id="numero_@k" name="numeros" value="@k">@k</label></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default">Registrar Aposta</button>
        </div>
    </div>
</div>

